:root {
  --laranja: #F23005;
  --amarelo: #F29F05;
  --azul-claro: #04B2D9;
  --verde: #C6D936;
  --preto: #000;
  --branco: #FFF;
  --roxo: #380D42;
  --azul-medio: #2D33A6;
  --azul-escuro: #0F0F2B;
  --verde-azulado: #025159;
  --azul-medio-escuro: #202359;
}